.header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 35px;
    position:relative;
    color: #fff;
}
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-main p {
    font-weight: 500;
    font-size: 40px;
    margin-left: 18px;
}
.header-nav {
    width: 391px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.header-nav > a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-size: normal;
}
.header-main .icon {
    display: none;
}
@media (max-width: 600px) {
    .header-nav a:not(:last-child) {display: none;}
    .header-nav a.icon {
      display: block;
    }
  }