/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/header.css';
@import '../components/footer.css';

/* CUSTOM STYLE */

.hero {
    margin-top: 40px;
    margin-bottom: 83px;
    color: #fff;
}
.hero .content{
    margin-top: 40px;
    width: 416px;
}
.hero .description {
    color: rgba(255, 255, 255, 0.75);
}

.img-idea {
    max-width: 644.28px;
    height: auto;
}

.ccontainer > .container {
    flex-direction: column;
    align-items: center;
}

.partners {
    width: 411px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}

.partners > .caption {
    color: #74c69d;
}

.partners > .title {
    text-transform: capitalize;
}

.partners-group {
    margin-top: 55px;
    margin-bottom: 30px;
    height: 50px;
    align-items: center;
}
.partners-group > .microsoft {
    height: 45px;
}

.partners-group > .facebook {
    height: 38px;
}

.img-bgw {
    width: 600px;
}

.ccontainer > .plain {
    margin-top: 73px;
    flex-direction: row;
}

@media (max-width: 600px){
.plain > .content {
    width: 470px;
}
}
.plain  .description {
    color: #21252980;
}