/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/header.css';
@import '../components/button.css';
/* @import '../components/footer.css'; */

/* CUSTOM STYLE */

.hero {
    display: flex;
    color: #fff;
    min-height: 470px;
}

.hero > .hero-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 83px;
}

.hero .content{
    margin-top: 40px;
    width: 416px;
}

.hero .description {
    color: rgba(255, 255, 255, 0.75);
}

.img-idea {
    width: 55%;
    height: auto;
}

.partners {
    margin: 0 auto;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    max-width: 416px;
}

.partners > .caption {
    color: #74c69d;
}

.partners > .title {
    text-transform: capitalize;
}

.partners-group {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    gap: 40px 70px;
    margin-top: 55px;
    align-items: center;
}

.partners-main > .btn {
    margin: 55px auto 0 auto;
}

@media (max-width: 1000px) {
    .hero .content {
        width: 45%
    }
}

@media (max-width: 800px) {
    .hero > .hero-main {
        flex-wrap: wrap-reverse;
        margin-bottom: 40px;
    }
    .hero-main > .img-idea {
        width:100%;
    }
    .hero-main > .content {
        width: 100%;
    }
    .hero .title {
        font-size: 28px;
    }
    .container >.partners {
        margin-top: 22px;
    }
    .partners > .title {
        font-size: 24px;
    }
}