/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/header.css';

/* CUSTOM STYLE */

.hero {
    margin-top: 40px;
    margin-bottom: 83px;
    color: #fff;
}
.hero .content{
    margin-top: 40px;
    width: 416px;
}
.hero .content > h3 {
    text-transform: uppercase;;
    font-size: 16px;
    letter-spacing: 5px;

}
.hero .content > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.hero .content > p {
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}

.content > .btn {
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin-top: 25px;
    padding: 2.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;

}
.hero > .img-idea {
    width: 644.28px;
    height: auto;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }